
.notification {
    color: green;
    border: 1px solid green;
    padding: 7px;
    width: 100%;
    background-color: gray;
}

.error {
    color: red;
    border: 1px solid red;
    padding: 7px;
    width: 100%;
    background-color: gray;
}